* {
    margin: 0;
}
#container {
    width:80%;
    margin: 0 auto;
}

#canvas {
   margin-top: 0;
}
#canvas1 {
    z-index: 50;
    position: absolute;
    top:0;
    left:10%;
}
#statistic {
    z-index: 60;
    position: absolute;
    top:0;
    left:40%;
}